// index page
.wrap {
  max-width: 1280px;
  margin: 0 auto;
  background: $primary-lighter;
  display: flex;
  .siderbar {
    width: 23%;
  }
  .main {
    width: 77%;
  }
}
// nav-siderbar 
.siderbar {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  // border:1px solid black;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  li:first-child {
    line-height: 24px;
  }
  li:not(:last-child) {
    margin-bottom: 24px;
  }
}
.menu li:first-child {
  margin-left: 32px;
}
.menu > li > a {
  display: flex;
  line-height: 32px;
  align-items: center;
  border-left: 4px solid transparent;
  i {
    margin-left: 32px;
    margin-right: 18px;
  }
  &:hover {
    color: #121212;
    background: $primary-light;
    text-decoration: none;
    border-left: 4px solid $primary;
  }
  &:focus {
    color: $primary;
    border-left: 4px solid $primary;
  }
}
.user {
  display: flex;
  align-items: center;
}
.user-img {
  margin-right: 16px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
// <!-- 大頭貼 -->
.user-email span {
  &:first-child {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
  &:last-child {
    font-size: 14px;
    line-height: 24px;
  }
}
