// utility
.fz-h2 {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}
.fz-24h33 {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}
.fz-20h33 {
  font-size: 20px;
  line-height: 33px;
  font-weight: bold;
}
.fz-16h24 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.fz-14h24 {
  font-size: 14px;
  line-height: 24px;
  font-weight: Regular;
}
.bold {
  font-weight: bold;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-32 {
  margin-bottom: 32px;
}
.pl-16 {
  padding-left: 16px;
}
.mr-25 {
  margin-right: 25px;
}
